body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #002f8a, #01194c);
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.video-due {
  z-index: -1;
  width: 1034px;
  height: 500px;
  position: absolute;
  top: 40px;
  left: 60%;
  transform: translateX(-50%);
}
.video-tre {
  z-index: -1;
  position: absolute;
  top: 40px;
  right: 60%;

  transform: translateX(50%);
  width: 1034px;
  height: 500px;
}
body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.btn-wrapper {
  z-index: 1;
  width: 1034px;
  height: 600px;
  margin: 32px 0;

  position: relative;
}
.btn-wrapper a {
  z-index: 1;
}
.btn-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.btn-wrapper img {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 195px;
  height: 80px;
  position: absolute;
}
.btn-esplora {
  background-color: #c89d00;

  padding: 12px 24px;

  cursor: pointer;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: #8a3400;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  border: transparent;
  border-radius: 15px;
  padding: 12px 15px;
  margin-left: 10px;
}

.btn-background {
  border-radius: 15px;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 10px;
  height: 60px;
  width: 220px;
  background-color: #ba6f00;
}
.btn-background-two {
  position: absolute;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;

  height: 50px;
  width: 320px;
  background-color: #d7d8e1;
}
.btn-esplora svg {
  width: 25px;
  height: 30px;
  margin-left: 8px;
  padding: 0;
  vertical-align: middle;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.second_cards {
  display: flex;
  gap: 30px;
}
.third_cards {
  display: flex;
  gap: 30px;
}
.fourth_cards {
  display: flex;
  gap: 30px;
}
.first_card img {
  width: 80px;
  border-radius: 80px;
}
.second_cards img {
  border-radius: 80px;
  width: 80px;
}
.third_cards img {
  width: 80px;
  border-radius: 6px;
}
.fourth_cards img {
  border-radius: 80px;
  width: 80px;
}
.first_card img:hover {
  transform: scale(1.5);
  filter: brightness(1.1);
}
.second_cards img:hover {
  transform: scale(1.5);
  filter: brightness(1.1);
}
.third_cards img:hover {
  transform: scale(1.5);
  filter: brightness(1.1);
}
.fourth_cards img:hover {
  transform: scale(1.5);
  filter: brightness(1.1);
}
.btn-show {
  display: flex;

  background-color: #c89d00;
  justify-content: center;
  align-items: flex-end;
  padding: 12px 24px;

  cursor: pointer;
  width: 80px;
  height: 130px;

  font-size: 10px;
  color: #8a3400;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  border: transparent;
  border-radius: 10px;
  padding-bottom: 25px;
}
.btn-show svg {
  position: absolute;
  margin-bottom: 30px;
  width: 50px;
}
.footer {
  display: flex;
}
.barra-inferiore {
  position: relative;
  width: 320px;
  height: 48px;
  margin: 15px auto;
  border-radius: 20px;
  border: transparent;
}
.barra-inferiore svg {
  padding: 10px;
  width: 35px;
  color: #717384;
}
.freccia-dx {
  background-color: #0072ce;
  position: absolute;
  right: 360px;
  border-radius: 13px;
  border: transparent;
  width: 65px;
  height: 80px;
  top: 33%;
  z-index: 1;
}
.freccia-sx {
  background-color: #0072ce;
  position: absolute;
  left: 360px;
  border-radius: 13px;
  border: transparent;
  width: 65px;
  height: 80px;
  top: 33%;
  z-index: 1;
}
.freccia-dx:hover,
.freccia-sx:hover {
  background-color: #005bb5;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: flex-end;
  
}
footer a {
  background-color: black;
  color: white;
  padding: 2px;
  font-size: 14px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  margin-right: 20px;
  
}
footer a:hover {
  color: #7f8590;
}

.immagine-laterale img {
  position: absolute;
  left: -50px;
  top: 3%;
  bottom: 650px;
  margin-right: -10px;
  z-index: 1;
  rotate: 18deg;
  
  

  
  border-radius: 20px;

  width: 210px;
  height: 200px;
}
.immagine-laterale{
  background-image: url(assets/images/boop_background.png);
  width: 250px;
  height: 125px;
  position: fixed;
  border-radius: 15px;
  right: -8%;
  top: 4%;
  background-size: cover;
  overflow: hidden;
 
  background-size: 120%;
   background-repeat: no-repeat;
}